body {
    background: beige;
  }
#logo {
    width: 50px;
}


a {
    text-decoration: none;
    color: brown;
    font-style: bold;
  }
  li {
    margin: 130px;
    color: brown;
    border: 1px solid brown;
    display: inline-block;
  }