#q1 {
    background-color: antiquewhite;
    color: red;
}
#q2 {
    background-color: beige;
    color: palevioletred;
}
#q3 {
    background-color: silver;
    color:black;

}
#q4 {
    background-color: powderblue;
    color: purple;
}
#logo {
    width: 50px;
}